<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.AreaMapper">

    <cache />

    <!-- MANTENIMIENTO DE AREAS -->

    <select id="getAreas" parameterType="DTO_Area" resultType="DTO_Area">
        SELECT
            area.id as id,
            area.name as name,
            area.companyid as companyId
        FROM
            T_EMP_AREA area
        WHERE
            area.companyid = #{companyId}
    </select>

    <select id="getAreaXCodigo" parameterType="DTO_Area" resultType="DTO_Area">
        SELECT
            area.id as id,
            area.name as name,
            area.companyid as companyId
        FROM
            T_EMP_AREA area
        WHERE
            area.companyid = #{companyId}
        AND
            area.id = #{id, jdbcType=INTEGER}
    </select>

    <insert id="insertArea" parameterType="DTO_Area" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO T_EMP_AREA
            (name, companyid)
        VALUES
            (#{name}, #{companyId})
    </insert>

    <update id="updateArea" parameterType="DTO_Area">
        UPDATE T_EMP_AREA
        SET
            name = #{name}
        WHERE
            id = #{id}
        AND
            companyid = #{companyId}
    </update>

    <delete id="deleteArea" parameterType="DTO_Area">
      DELETE FROM
         T_EMP_AREA
      WHERE
            id = #{id}
        AND
            companyid = #{companyId}
    </delete>

</mapper>