<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.AreaMapper">

    <cache />

    <!-- MANTENIMIENTO DE AREAS -->

    <select id="getAreas" parameterType="DTO_Area" resultType="DTO_Area">
        SELECT
            area.area_n_codigo as codigo,
            area.area_v_nombre as nombre,
            area.companyid as company
        FROM
            T_EMP_AREA area
        WHERE
            area.companyid = #{company}
    </select>
    
    <select id="getAreaXCodigo" parameterType="DTO_Area" resultType="DTO_Area">
        SELECT
            area.area_n_codigo as codigo,
            area.area_v_nombre as nombre,
            area.companyid as company
        FROM
            T_EMP_AREA area
        WHERE
            area.companyid = #{company}
        AND
            area.area_n_codigo = #{codigo}
    </select>

    <insert id="insertArea" parameterType="DTO_Area">
        INSERT INTO T_EMP_AREA
            (area_v_nombre, companyid)
        VALUES
            (#{nombre}, #{company})
        <selectKey keyProperty="codigo" resultType="int" order="AFTER"> 
           select LAST_INSERT_ID() as value
        </selectKey>
    </insert>
    
    <update id="updateArea" parameterType="DTO_Area">
        UPDATE T_EMP_AREA
        SET
            area_v_nombre = #{nombre}
        WHERE
            area_n_codigo = #{codigo}
        AND
            companyid = #{company}
    </update>
    
    <delete id="deleteArea" parameterType="DTO_Area">
      DELETE FROM
         T_EMP_AREA
      WHERE
            area_n_codigo = #{codigo}
        AND
            companyid = #{company}
    </delete>

</mapper>