<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.CategoryMapper">

  <cache />
    <!-- MANTENIMIENTO DE CATEGORIAS -->

    <select id="getCategorias" parameterType="DTO_Category" resultType="DTO_Category">
        SELECT
        cat.id as id,
        cat.empresaid as empresa,
        cat.nombre as categoryName,
        cat.estado as estado,
        cat.parentid as categoryParentId
        FROM
        T_NEG_CATEGORIA cat
        <if test="empresa != null">
            WHERE
            cat.empresaId = 1 OR
            cat.empresaId = #{empresa}
        </if>
        ORDER BY cat.nombre
    </select>

    <select id="getCategoriaXCodigo" parameterType="DTO_Category" resultType="DTO_Category">
        SELECT
        cat.id as id,
        cat.empresaId as empresa,
        cat.nombre as categoryName,
        cat.estado as estado
        FROM
        T_NEG_CATEGORIA cat
        WHERE
        cat.id = #{id, jdbcType=INTEGER}
    </select>

    <insert id="insertCategoria" parameterType="DTO_Category">
        INSERT INTO T_NEG_CATEGORIA
        (empresaId,nombre,parentid)
        VALUES
        (#{empresa},#{categoryName},#{categoryParentId, jdbcType=INTEGER})
    </insert>

    <update id="updateCategoria" parameterType="DTO_Category">
        UPDATE T_NEG_CATEGORIA
        SET
        nombre = #{categoryName},
        parentid = #{categoryParentId, jdbcType=INTEGER},
        estado = #{estado}
        WHERE
        id = #{id}
        AND
        empresaId = #{empresa}
    </update>

    <delete id="deleteCategoria" parameterType="DTO_Category">
        DELETE FROM
        T_NEG_CATEGORIA
        WHERE
        id = #{id}
    </delete>

</mapper>