<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.CompanyMapper">

  <cache />

    <!-- MANTENIMIENTO DE COMPANYS -->

    <select id="getCompany4DocNumber" parameterType="DTO_Company" resultType="DTO_Company">
        SELECT
            emp.id as id,
            emp.businessname as businessName,
            emp.active as active,
            emp.docnumber as docNumber,
            emp.domain as domain
        FROM
            T_COM_COMPANY emp
        WHERE
            emp.id = #{docNumber}
    </select>

    <select id="getCompanies" resultType="DTO_Company">
        SELECT
            emp.id as id,
            emp.businessname as businessName,
            emp.active as active,
            emp.docnumber as docNumber,
            emp.domain as domain
        FROM
            T_COM_COMPANY emp
        WHERE
            emp.active = 1
            <if test="businessName != null">AND
               emp.businessname LIKE #{businessName}
            </if>
            <if test="docNumber != null">OR
               emp.docnumber LIKE #{docNumber}
            </if>
    </select>

    <insert id="insertCompany" parameterType="DTO_Company" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO T_COM_COMPANY
            (businessname,active,docnumber,domain)
        VALUES
            (#{businessName},#{active},#{docNumber},#{domain})
    </insert>

    <update id="updateCompany" parameterType="DTO_Company">
        UPDATE T_COM_COMPANY
        SET
            businessname = #{businessName},
            active = #{active},
            docnumber = #{docNumber},
            domain = #{domain}
        WHERE
            id = #{id}
    </update>

   <delete id="deleteCompany" parameterType="DTO_Company">
      DELETE FROM
         T_COM_COMPANY
      WHERE
         id = #{id}
    </delete>

</mapper>