<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.DetallePedidoMapper">

  <cache />

    <!-- MANTENIMIENTO DE DETALLES DE PEDIDOS -->

    <select id="getDetallePedidos" parameterType="DTO_DetallePedido" resultType="DTO_DetallePedido">
        SELECT
            ped.pedido_n_codigo as pedido,
            ped.product_n_codigo as product,
            ped.detped_n_cantidad as cantidad
        FROM
            T_BUS_PEDIDO_DET ped
        WHERE
        <if test="pedido != null">
            ped.pedido_n_codigo = #{pedido}
            <if test="product != null">AND
                ped.product_n_codigo = #{product}
            </if>
        </if>
        <if test="pedido == null">
            ped.product_n_codigo = #{product}
        </if>
    </select>

    <insert id="insertDetallePedido" parameterType="DTO_DetallePedido">
        INSERT INTO T_BUS_PEDIDO_DET
            (pedido_n_codigo, product_n_codigo, detped_n_cantidad)
        VALUES
            (#{pedido}, #{product}, #{cantidad})
    </insert>
    
    <update id="updateDetallePedido" parameterType="DTO_DetallePedido">
        UPDATE T_BUS_PEDIDO_DET
        SET
            pedido_n_codigo = #{pedido},
            product_n_codigo = #{product},
            detped_n_cantidad = #{cantidad}
        WHERE
            pedido_n_codigo = #{pedido}
    </update>

    <delete id="deleteDetallePedido">
        DELETE FROM
            T_BUS_PEDIDO_DET
        WHERE
            pedido_n_codigo = #{value}
    </delete>

</mapper>