<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.EmployeeMapper">

  <cache />

    <!-- MANTENIMIENTO DE EMPLEADOS -->

    <select id="getEmployees" parameterType="DTO_Employee" resultMap="employeeResultMap">
        SELECT
            emp.id as employeeId,
            emp.companyid as companyId,
            emp.name as employeeName,
            emp.birthday as birthday,
            emp.lastname as employeeLastName,
            emp.lastname2 as employeeLastName2,
            emp.doctypeid as documentTypeId,
            emp.docnumber as documentNumber,
            emp.address as address,
            emp.phone as phone,
            emp.cellphone as cellPhone,
            emp.email as email,
            emp.city as city,
            emp.ubigeo as ubigeo,
            emp.sexid as sexId,
            emp.civilstateid as civilStateId,
            emp.active as active,
            us.id as userId,
            us.username as username,
            us.companyid as companyId,
            us.password as password,
            rol.id as roleId,
            rol.name as roleName,
            rol.description as roleDescription,
            rol.areaid as roleAreaId,
            area.id areaId,
            area.name as areaName
        FROM
            T_BUS_EMPLOYEE emp LEFT JOIN 
            T_SEG_USER us ON emp.userid = us.id LEFT JOIN
            T_SEG_ROLE rol ON us.roleid = rol.id LEFT JOIN
            T_COM_AREA area ON rol.areaid = area.id
        WHERE
            emp.companyid = #{companyId}
        <if test="userId != null">
            AND emp.userid = #{userId}
        </if>
        <if test="id != null">
            AND emp.id = #{id}
        </if>
        <if test="employeeLastName != null">
            AND emp.lastname LIKE '%' || #{employeeLastName} || '%'
            <if test="employeeLastName2 != null">
                AND emp.lastname2 LIKE '%' || #{employeeLastName2} || '%'
            </if>
            <if test="employeeName != null">
                <bind name="patternEmpName" value="'%' + employeeName + '%'" />
                AND emp.name LIKE #{patternEmpName}
            </if>
        </if>
        <if test="documentTypeId != null and documentNumber != null">
            AND emp.doctypeid = #{documentTypeId}
            AND emp.docnumber = #{documentNumber}
        </if>
        
    </select>

    <insert id="insertEmployee" parameterType="DTO_Employee">
        INSERT INTO
        T_BUS_EMPLOYEE
            (userid, companyid,
            name, birthday, lastname, lastname2,
            doctypeid, docnumber, address, phone,
            cellphone, email, city,
            ubigeo, active)
        VALUES
            (#{userId}, #{companyId},
            #{employeeName}, #{birthday}, #{employeeLastName}, #{employeeLastName2},
            #{documentTypeId}, #{documentNumber}, #{address}, #{phone},
            #{cellPhone}, #{email}, #{city},
            #{ubigeo}, #{active})
    </insert>

    <update id="updateEmployee" parameterType="DTO_Employee">
        UPDATE T_BUS_EMPLOYEE
        SET
            name = #{employeeName},
            birthday = #{birthday},
            lastname = #{employeeLastName},
            lastname2 = #{employeeLastName2},
            doctypeid = #{documentTypeId},
            docnumber = #{documentNumber},
            address = #{address},
            phone = #{phone},
            cellphone = #{cellPhone},
            email = #{email},
            city = #{city},
            ubigeo = #{ubigeo},
            active = #{active}
        WHERE
            id = #{id}
        AND
            companyid = #{companyId}
    </update>

    <delete id="deleteEmployee" parameterType="DTO_Employee">
      DELETE FROM
         T_BUS_EMPLOYEE
      WHERE
         companyid = #{companyId}
      AND
         id = #{id}
    </delete>
    
    <resultMap id="employeeResultMap" type="DTO_Employee">
        <id property="id" column="employeeId" />
        <result property="companyId" column="companyId" />
        <result property="employeeName" column="employeeName" />
        <result property="birthday" column="birthday" />
        <result property="employeeLastName" column="employeeLastName" />
        <result property="employeeLastName2" column="employeeLastName2" />
        <result property="documentTypeId" column="documentTypeId" />
        <result property="documentNumber" column="documentNumber" />
        <result property="address" column="address" />
        <result property="phone" column="phone" />
        <result property="cellPhone" column="cellPhone" />
        <result property="email" column="email" /> 
        <result property="city" column="city" />
        <result property="ubigeo" column="ubigeo" /> 
        <result property="civilStateId" column="civilStateId"/>
        <result property="sexId" column="sexId"/>
        <result property="active" column="active" />
        <association property="user" column="userId" javaType="DTO_User" resultMap="userResultMap">
        </association>
    </resultMap>
    <resultMap id="userResultMap" type="DTO_User">
        <id property="id" column="userId" />
        <result property="companyId" column="companyId" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="roleId" column="roleId" />
        <association property="role" column="roleId" javaType="DTO_Role" resultMap="roleResultMap">
        </association>
    </resultMap>
    <resultMap id="roleResultMap" type="DTO_Role">
        <id property="id" column="roleId" />
        <result property="companyId" column="companyId" />
        <result property="areaId" column="areaId" />
        <result property="roleName" column="roleName" />
        <result property="roleDescription" column="roleDescription" />
        <association property="area" column="areaId" javaType="DTO_Area" resultMap="areaResultMap">
        </association>
    </resultMap>
    <resultMap id="areaResultMap" type="DTO_Area">
        <id property="id" column="areaId" />
        <result property="companyId" column="companyId" />
        <result property="areaName" column="areaName" />
    </resultMap>

</mapper>