<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.EmpleadoMapper">

  <cache />

    <!-- MANTENIMIENTO DE EMPLEADOS -->

    <select id="getEmpleados" parameterType="DTO_Empleado" resultType="DTO_Empleado">
        SELECT
            emp.empleado_n_codigo as codigo,
            emp.usuario_n_codigo as usuario,
            emp.companyid as company,
            emp.roleid as perfil,
            emp.empleado_v_nombre as nombre,
            emp.empleado_d_fechnac as fecNac,
            emp.empleado_v_apellido as apellido,
            emp.empleado_v_dni as dni,
            emp.empleado_v_direccion as direccion,
            emp.empleado_v_telefono as telefono,
            emp.empleado_v_celular as celular,
            emp.empleado_v_email as email,
            emp.empleado_v_ciudad as ciudad,
            emp.empleado_v_region as region,
            emp.empleado_n_activo as estado
        FROM
            T_EMP_EMPLEADO emp
        WHERE
            emp.companyid = #{company}
        <if test="usuario != null">AND
            emp.usuario_n_codigo = #{usuario}
        </if>
        <if test="codigo != null">AND
            emp.empleado_n_codigo = #{codigo}
        </if>
    </select>

    <insert id="insertEmpleado" parameterType="DTO_Empleado">
        INSERT INTO
        T_EMP_EMPLEADO
            (usuario_n_codigo, companyid, roleid,
            empleado_v_nombre, empleado_d_fechnac, empleado_v_apellido,
            empleado_v_dni, empleado_v_direccion, empleado_v_telefono,
            empleado_v_celular, empleado_v_email, empleado_v_ciudad,
            empleado_v_region, empleado_n_activo)
        VALUES
            (#{usuario}, #{company}, #{perfil},
            #{nombre}, #{fecNac}, #{apellido},
            #{dni}, #{direccion}, #{telefono},
            #{celular}, #{email}, #{ciudad},
            #{region}, #{estado})
    </insert>

    <update id="updateEmpleado" parameterType="DTO_Empleado">
        UPDATE T_EMP_EMPLEADO
        SET
            roleid = #{perfil},
            empleado_v_nombre = #{nombre},
            empleado_d_fechnac = #{fecNac},
            empleado_v_apellido = #{apellido},
            empleado_v_dni = #{dni},
            empleado_v_direccion = #{direccion},
            empleado_v_telefono = #{telefono},
            empleado_v_celular = #{celular},
            empleado_v_email = #{email},
            empleado_v_ciudad = #{ciudad},
            empleado_v_region = #{region},
            empleado_n_activo = #{estado}
        WHERE
            empleado_n_codigo = #{codigo}
        AND
            companyid = #{company}
    </update>

    <delete id="deleteEmpleado" parameterType="DTO_Empleado">
      DELETE FROM
         T_EMP_EMPLEADO
      WHERE
         companyid = #{company}
      AND
         empleado_n_codigo = #{codigo}
    </delete>

</mapper>