<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.EmpresaMapper">

  <cache />

    <!-- MANTENIMIENTO DE EMPRESAS -->

    <select id="getEmpresaXRuc" parameterType="DTO_Empresa" resultType="DTO_Empresa">
        SELECT
            emp.empresa_n_codigo as codigo,
            emp.empresa_v_razonsocial as razonsocial,
            emp.empresa_n_activo as estado,
            emp.empresa_v_ruc as ruc,
            emp.empresa_v_dominio as dominio
        FROM
            T_EMP_EMPRESA emp
        WHERE
            emp.empresa_n_codigo = #{ruc}
    </select>

    <select id="getEmpresas" resultType="DTO_Empresa">
        SELECT
            emp.empresa_n_codigo as codigo,
            emp.empresa_v_razonsocial as razonsocial,
            emp.empresa_n_activo as estado,
            emp.empresa_v_ruc as ruc,
            emp.empresa_v_dominio as dominio
        FROM
            T_EMP_EMPRESA emp
        WHERE
            emp.empresa_n_activo = 1
            <if test="razonsocial != null">AND
               emp.empresa_v_razonsocial LIKE #{param1}
            </if>
            <if test="ruc != null">OR
               emp.empresa_v_ruc LIKE #{param2}
            </if>
    </select>

    <insert id="insertEmpresa" parameterType="DTO_Empresa">
        INSERT INTO T_EMP_EMPRESA
            (empresa_v_razonsocial,empresa_n_activo,empresa_v_ruc,empresa_v_dominio)
        VALUES
            (#{razonsocial},#{estado},#{ruc},#{dominio})
        <selectKey keyProperty="codigo" resultType="int" order="AFTER"> 
           select LAST_INSERT_ID() as value
        </selectKey>
    </insert>
    
    <update id="updateEmpresa" parameterType="DTO_Empresa">
        UPDATE T_EMP_EMPRESA
        SET
            empresa_v_razonsocial = #{razonsocial},
            empresa_n_activo = #{estado},
            empresa_v_ruc = #{ruc},
            empresa_v_dominio = #{dominio}
        WHERE
            empresa_n_codigo = #{codigo}
    </update>

   <delete id="deleteEmpresa">
      DELETE FROM
         T_EMP_EMPRESA
      WHERE
         empresa_n_codigo = #{codigo}
    </delete>

</mapper>