<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.ProductMapper">

    <cache />

    <!-- MANTENIMIENTO DE PRODUCTOS -->

    <select id="getProducts" parameterType="java.util.Map" resultMap="productResultMap">
        SELECT
            art.id as productId,
            art.companyid as productCompanyId,
            art.name as productName,
            art.description as productDescription,
            art.active as productActive,
            cart.id as catProdId,
            cart.categoryid as categoryId,
            cat.id as categoryId,
            cat.companyid as categoryCompanyId,
            cat.name as categoryName,
            cat.active as categoryActive,
            cat.parentid as categoryParentId,
            mar.id as tradeMarkId,
            mar.companyid as tradeMarkCompanyId,
            mar.name as tradeMarkName,
            mar.active as tradeMarkActive,
            img.id as imageId,
            img.companyid as imageCompanyId,
            img.productid as productImageId,
            img.name as imageName,
            img.imagdefault as imageDefault,
            img.active as imageActive
        FROM
            T_BUS_PRODUCT art LEFT JOIN
            T_BUS_CATEG2ARTIC cart ON art.id = cart.productid LEFT JOIN
            T_BUS_CATEGORY cat ON cart.categoryid = cat.id LEFT JOIN
            T_BUS_TRADEMARK mar ON art.tradeMarkid = mar.id LEFT JOIN
            T_BUS_PRODUCTIMAGE img ON art.id = img.productid
        <where>
            <if test="company != null">
                art.companyid = #{company}
                <if test="lstCategory != null">AND
                    cart.categoryid in
                    <foreach item="id" index="index" collection="lstCategory"
                             open="(" separator="," close=")">
                            #{id, jdbcType=INTEGER}
                    </foreach>
                </if>
                <if test="name != null">AND
                    art.name LIKE %#{name}%
                </if>
                <if test="active != null">AND
                    art.active = #{active}
                </if>
            </if>
        </where>
    </select>

    <select id="getProduct4Id" parameterType="DTO_Product" resultType="DTO_Product">
        SELECT
            art.id as id,
            art.companyid as companyId,
            art.name as productName,
            --art.tradeMarkId as tradeMark,
            art.description as productDescription,
            art.active as active
        FROM
            T_BUS_PRODUCT art
        WHERE
            art.id = #{id, jdbcType=INTEGER}
    </select>

    <insert id="insertProduct" parameterType="DTO_Product" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO T_BUS_PRODUCT
            (companyid,name,
            description,tradeMarkid,
            active)
        VALUES
            (#{companyId},#{productName},
            #{productDescription},#{tradeMark.id},
            #{active})
    </insert>

    <update id="updateStock" parameterType="DTO_Product">
        UPDATE T_BUS_PRODUCT
        SET
            stock = #{stock}
        WHERE
            companyid = #{companyId}
        AND
            id = #{id}
    </update>

    <update id="updateProduct" parameterType="DTO_Product">
        UPDATE T_BUS_PRODUCT
        SET
            name = #{productName},
            description = #{productDescription},
            active = #{active}
        WHERE
            id = #{id}
        AND
            companyid = #{companyId}
    </update>

    <delete id="deleteProduct">
        DELETE FROM
        T_BUS_PRODUCT
        WHERE
        id = #{value}
    </delete>

    <select id="getCategories4Product" parameterType="DTO_Category2Product" resultType="int">
        SELECT
            count(*)
        FROM
            T_BUS_CATEG2ARTIC cat4art
        WHERE
            cat4art.productid = #{productId} AND
            cat4art.categoryid = #{categoryId}
    </select>

    <insert id="insertCategory4Product" parameterType="DTO_Category2Product">
        INSERT INTO T_BUS_CATEG2ARTIC
            (productid,categoryid)
        VALUES
            (#{productId},#{categoryId})
    </insert>

    <delete id="deleteCategory4Product" parameterType="DTO_Category2Product">
        DELETE FROM
            T_BUS_CATEG2ARTIC
        WHERE
            productid = #{productId} AND
            categoryid = #{categoryId}
    </delete>

    <insert id="insertImage4Product" parameterType="DTO_ProductImage" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO T_BUS_PRODUCTIMAGE
            (companyid,productid,name,imagdefault,active)
        VALUES
            (#{companyId},#{productId},#{imageName},#{defaul},#{active})
    </insert>

    <update id="updateImage4Product" parameterType="DTO_ProductImage">
        UPDATE T_BUS_PRODUCTIMAGE
        SET
            imagdefault = #{defaul},
            active = #{active}
        WHERE
            id = #{id}
        AND
            companyid = #{companyId}
    </update>

    <delete id="deleteImage4Product" parameterType="DTO_ProductImage">
        DELETE FROM
            T_BUS_PRODUCTIMAGE
        WHERE
            id = #{id}
    </delete>

    <resultMap id="productResultMap" type="DTO_Product">
        <id property="id" column="productId" />
        <result property="companyId" column="productCompanyId" />
        <result property="productName" column="productName" />
        <result property="productDescription" column="productDescription" />
        <result property="active" column="productActive" />
        <!-- <collection property="categories2Products" column="catProdId"
                    ofType="DTO_Category2Product" javaType="ArrayList" resultMap="category2ProductMap">
        </collection> -->
        <association property="tradeMark" column="tradeMarkId" javaType="DTO_TradeMark" resultMap="tradeMarkResultMap">
        </association>
        <collection property="categories" column="catProdId"
                    ofType="DTO_Category" javaType="ArrayList" resultMap="categoryResultMap">
        </collection>
        <collection property="images" column="imageId"
                    ofType="DTO_ProductImage" javaType="ArrayList" resultMap="imageResultMap">
        </collection>
    </resultMap>

    <!-- <resultMap id="category2ProductMap" type="DTO_Category2Product">
        <id property="id" column="catProdId" />
        <result property="categoryId" column="categoryId" />
        <result property="productId" column="productId" />
    </resultMap>-->
    <resultMap id="categoryResultMap" type="DTO_Category">
        <id property="id" column="categoryId" />
        <result property="companyId" column="categoryCompanyId" />
        <result property="categoryName" column="categoryName" />
        <result property="active" column="categoryActive" />
        <result property="categoryParentId" column="categoryParentId" />
    </resultMap>
    <resultMap id="tradeMarkResultMap" type="DTO_TradeMark">
        <id property="id" column="tradeMarkId" />
        <result property="company" column="tradeMarkCompanyId" />
        <result property="tradeMarkName" column="tradeMarkName" />
        <result property="active" column="tradeMarkActive" />
    </resultMap>
    <resultMap id="imageResultMap" type="DTO_ProductImage">
        <id property="id" column="imageId" />
        <result property="companyId" column="imageCompanyId" />
        <result property="productId" column="productImageId" />
        <result property="imageName" column="imageName" />
        <result property="defaul" column="imageDefault" />
        <result property="active" column="imageActive" />
    </resultMap>

    <select id="selectCategoriesForProducts" resultType="DTO_Category">
        SELECT
            cat.id as categoryId,
            cat.companyid as company,
            cat.name as categoryName,
            cat.active as active,
            cat.parentid as categoryParentId
        FROM
            T_BUS_CATEGORY cat,
            T_BUS_CATEG2ARTIC cart
        WHERE
            cart.cate_n_id = cat.category_n_codigo
        AND cart.prod_n_id = #{product_n_codigo}
    </select>

    <!-- <select id="getObject" parameterType="Map" resultType="hashmap">
        select * from TABL where
        <foreach  collection="dataMap"  index="key" item="value"  open=""  separator=" and "  close="">
            #{key}=#{value}
        </foreach>
    </select>-->

</mapper>