<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.RoleMapper">

  <cache />

    <!-- MANTENIMIENTO DE ROLES -->

    <select id="getRoles" parameterType="DTO_Role" resultMap="roleResultMap">
        SELECT
            rol.id as roleId,
            rol.name as roleName,
            rol.description as roleDescription,
            rol.companyid as companyId,
            area.id areaId,
            area.name as areaName
        FROM
            T_SEG_ROLE rol LEFT JOIN
            T_COM_AREA area ON rol.areaid = area.id
        WHERE
            rol.companyid = #{companyId}
            <if test="areaId != null">AND
                rol.areaid = #{areaId}
            </if>
    </select>

    <select id="getRole4Id" parameterType="DTO_Role" resultMap="roleResultMap">
        SELECT
            rol.id as roleId,
            rol.name as roleName,
            rol.description as roleDescription,
            rol.areaid as roleAreaId,
            rol.companyid as companyId,
            area.id areaId,
            area.name as areaName
        FROM
            T_SEG_ROLE rol LEFT JOIN
            T_COM_AREA area ON rol.areaid = area.id
        <where>
            rol.companyid = #{companyId}
        AND
            rol.id = #{id, jdbcType=INTEGER}
        </where>
    </select>

    <select id="getModules4Role" parameterType="java.util.Map" resultMap="roleModuleResultMap">
        SELECT
            rol.id as roleId,
            rol.name as roleName,
            rol.description as roleDescription,
            rol.companyid as companyId,
            rolMod.id roleModuId,
            rolMod.active roleModuActive,
            modu.id as moduId,
            modu.description as moduDescription,
            modu.resource as moduResource,
            area.id areaId,
            area.name as areaName
        FROM
            T_SEG_ROLE rol LEFT JOIN
            T_COM_AREA area ON rol.areaid = area.id LEFT JOIN
            T_SEG_ROLE2MODULE rolMod ON rol.id = rolMod.roleid LEFT JOIN
            T_SEG_MODULE modu ON rolMod.moduleid = modu.id

        <where>
            rol.companyid = #{companyId}
            <if test="areaId != null">AND
                rol.areaid = #{areaId}
            </if>
            <if test="lstRoles != null">AND
                rol.id in
                <foreach item="id" index="index" collection="lstRoles"
                         open="(" separator="," close=")">
                        #{id, jdbcType=INTEGER}
                </foreach>
            </if>
            <!-- <if test="id != null">AND
                rol.id = #{id, jdbcType=INTEGER}
            </if>-->
        </where>
    </select>

    <insert id="insertRole" parameterType="DTO_Role" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO T_SEG_ROLE
            (name, description, areaid, companyid)
        VALUES
            (#{roleName}, #{roleDescription}, #{areaId}, #{companyId})
    </insert>

    <update id="updateRole" parameterType="DTO_Role">
        UPDATE T_SEG_ROLE
        SET
            name = #{roleName},
            description = #{roleDescription},
            areaid = #{areaId}
        WHERE
            id = #{id}
        AND
            companyid = #{companyId}
    </update>

    <delete id="deleteRole" parameterType="DTO_Role">
      DELETE FROM
         T_SEG_ROLE
      WHERE
            id = #{id}
        AND
            companyid = #{companyId}
    </delete>

    <resultMap id="roleResultMap" type="DTO_Role">
        <id property="id" column="roleId" />
        <result property="companyId" column="companyId" />
        <result property="areaId" column="areaId" />
        <result property="roleName" column="roleName" />
        <result property="roleDescription" column="roleDescription" />
        <association property="area" column="areaId" javaType="DTO_Area" resultMap="areaResultMap">
        </association>
    </resultMap>
    <resultMap id="roleModuleResultMap" type="DTO_Role">
        <id property="id" column="roleId" />
        <result property="companyId" column="companyId" />
        <result property="areaId" column="areaId" />
        <result property="roleName" column="roleName" />
        <result property="roleDescription" column="roleDescription" />
        <association property="area" column="areaId" javaType="DTO_Area" resultMap="areaResultMap">
        </association>
        <collection property="modules" column="roleModuId"
                    ofType="DTO_Module" javaType="ArrayList" resultMap="moduleResultMap">
        </collection>
    </resultMap>
    <resultMap id="areaResultMap" type="DTO_Area">
        <id property="id" column="areaId" />
        <result property="companyId" column="companyId" />
        <result property="areaName" column="areaName" />
    </resultMap>
    <resultMap id="moduleResultMap" type="DTO_Module">
        <id property="id" column="moduId" />
        <result property="companyId" column="companyId" />
        <result property="moduleDescription" column="moduDescription" />
        <result property="moduleResource" column="moduResource" />
        <result property="activeConnection" column="roleModuActive" />
    </resultMap>

</mapper>