<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.TradeMarkMapper">

  <cache />
    <!-- MANTENIMIENTO DE MARCAS -->

    <select id="getTradeMarks" parameterType="DTO_TradeMark" resultType="DTO_TradeMark">
        SELECT
            mar.id as id,
            mar.companyid as company,
            mar.name as tradeMarkName,
            mar.active as active,
            mar.image as imageName
        FROM
            T_BUS_TRADEMARK mar
        <where>
            <if test="company != null">
                mar.companyId = #{company}
            </if>
        </where>
        ORDER BY mar.name
    </select>

    <select id="getTradeMark4Id" parameterType="DTO_TradeMark" resultType="DTO_TradeMark">
        SELECT
            mar.id as id,
            mar.companyid as company,
            mar.name as tradeMarkName,
            mar.active as active,
            mar.image as imageName
        FROM
            T_BUS_TRADEMARK cat
        WHERE
            mar.id = #{id, jdbcType=INTEGER}
    </select>

    <insert id="insertTradeMark" parameterType="DTO_TradeMark">
        INSERT INTO T_BUS_TRADEMARK
            (companyId,name,active,image)
        VALUES
            (#{company},#{tradeMarkName},#{active},#{imageName})
    </insert>

    <update id="updateTradeMark" parameterType="DTO_TradeMark">
        UPDATE T_BUS_TRADEMARK
        SET
            name = #{tradeMarkName},
            active = #{active},
            image = #{imageName}
        WHERE
            id = #{id}
        AND
            companyId = #{company}
    </update>

    <delete id="deleteTradeMark" parameterType="DTO_TradeMark">
        DELETE FROM T_BUS_TRADEMARK
        WHERE
        id = #{id}
    </delete>

</mapper>