<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.dao.PerfilMapper">

  <cache />

    <!-- MANTENIMIENTO DE PERFILES -->

    <select id="getPerfiles" parameterType="DTO_Perfil" resultType="DTO_Perfil">
        SELECT
            per.perfil_n_codigo as codigo,
            per.perfil_v_funcion as funcion,
            per.perfil_v_descripcion as descripcion,
            per.area_n_codigo as area,
            per.empresa_n_codigo as empresa
        FROM
            T_SEG_PERFIL per
        WHERE
            per.empresa_n_codigo = #{empresa}
    </select>
    
    <select id="getPerfilXCodigo" parameterType="DTO_Perfil" resultType="DTO_Perfil">
        SELECT
            per.perfil_n_codigo as codigo,
            per.perfil_v_funcion as funcion,
            per.perfil_v_descripcion as descripcion,
            per.area_n_codigo as area,
            per.empresa_n_codigo as empresa
        FROM
            T_SEG_PERFIL per
        WHERE
            per.empresa_n_codigo = #{empresa}
        AND
            per.perfil_n_codigo = #{codigo}
    </select>

    <insert id="insertPerfil" parameterType="DTO_Perfil">
        INSERT INTO T_SEG_PERFIL
            (perfil_v_funcion, perfil_v_descripcion, area_n_codigo, empresa_n_codigo)
        VALUES
            (#{funcion}, #{descripcion}, #{area}, #{empresa})
        <selectKey keyProperty="codigo" resultType="int" order="AFTER"> 
           select LAST_INSERT_ID() as value
        </selectKey>
    </insert>
    
    <update id="updatePerfil" parameterType="DTO_Perfil">
        UPDATE T_SEG_PERFIL
        SET
            perfil_v_funcion = #{funcion}, 
            perfil_v_descripcion = #{descripcion}, 
            area_n_codigo = #{area}
        WHERE
            perfil_n_codigo = #{codigo}
        AND
            empresa_n_codigo = #{empresa}
    </update>
    
    <delete id="deletePerfil" parameterType="DTO_Perfil">
      DELETE FROM
         T_SEG_PERFIL
      WHERE
            perfil_n_codigo = #{codigo}
        AND
            empresa_n_codigo = #{empresa}
    </delete>

</mapper>