<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.ClienteMapper">

  <cache />

    <!-- MANTENIMIENTO DE CLIENTES -->

    <select id="getClientes" parameterType="DTO_Cliente" resultType="DTO_Cliente">
        SELECT
            cl.cliente_n_codigo as codigo,
            cl.usuario_n_codigo as usuario,
            cl.empresa_n_codigo as empresa,
            cl.cliente_v_nombre as nombre,
            cl.cliente_d_fechanac as fecNac,
            cl.cliente_v_apellido as apellido,
            cl.cliente_n_dni as dni,
            cl.cliente_v_direccion as direccion,
            cl.cliente_v_telefono as telefono,
            cl.cliente_v_celular as celular,
            cl.cliente_v_email as email,
            cl.cliente_v_ciudad as ciudad,
            cl.cliente_v_region as region,
            cl.cliente_v_codpostal as codPostal,
            cl.cliente_n_activo as estado
        FROM
            T_NEG_CLIENTE cl
        WHERE
            cl.empresa_n_codigo = #{empresa}
        <if test="usuario != null">AND
            cl.usuario_n_codigo = #{usuario}
        </if>
        <if test="codigo != null">AND
            cl.cliente_n_codigo = #{codigo}
        </if>
        ORDER BY
            cl.cliente_n_codigo
    </select>

    <insert id="insertCliente" parameterType="DTO_Cliente">
        INSERT INTO
        T_NEG_CLIENTE
            (usuario_n_codigo, empresa_n_codigo,
            cliente_v_nombre, cliente_d_fechanac, cliente_v_apellido,
            cliente_n_dni, cliente_v_direccion, cliente_v_telefono,
            cliente_v_celular, cliente_v_email, cliente_v_ciudad,
            cliente_v_region, cliente_v_codpostal, cliente_n_activo)
        VALUES
            (#{usuario}, #{empresa},
            #{nombre}, #{fecNac}, #{apellido},
            #{dni}, #{direccion}, #{telefono},
            #{celular}, #{email}, #{ciudad},
            #{region}, #{codPostal}, #{estado})
    </insert>
    
    <update id="updateCliente" parameterType="DTO_Cliente">
        UPDATE T_NEG_CLIENTE
        SET
            cliente_v_nombre = #{nombre},
            cliente_d_fechnac = #{fecNac},
            cliente_v_apellido = #{apellido},
            cliente_v_dni = #{dni},
            cliente_v_direccion = #{direccion},
            cliente_v_telefono = #{telefono},
            cliente_v_celular = #{celular},
            cliente_v_email = #{email},
            cliente_v_ciudad = #{ciudad},
            cliente_v_region = #{region},
            cliente_n_activo = #{estado}
        WHERE
            cliente_n_codigo = #{codigo}
        AND
            empresa_n_codigo = #{empresa}
    </update>
    
    <delete id="deleteCliente" parameterType="DTO_Cliente">
      DELETE FROM
         T_NEG_CLIENTE
      WHERE
         empresa_n_codigo = #{empresa}
      AND
         cliente_n_codigo = #{codigo}
    </delete>

</mapper>