<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.DetallePedidoMapper">

  <cache />

    <!-- MANTENIMIENTO DE DETALLES DE PEDIDOS -->

    <select id="getDetallePedidos" parameterType="DTO_DetallePedido" resultType="DTO_DetallePedido">
        SELECT
            ped.pedido_n_codigo as pedido,
            ped.articulo_n_codigo as articulo,
            ped.detped_n_cantidad as cantidad
        FROM
            T_NEG_PEDIDO_DET ped
        WHERE
        <if test="pedido != null">
            ped.pedido_n_codigo = #{pedido}
            <if test="articulo != null">AND
                ped.articulo_n_codigo = #{articulo}
            </if>
        </if>
        <if test="pedido == null">
            ped.articulo_n_codigo = #{articulo}
        </if>
    </select>

    <insert id="insertDetallePedido" parameterType="DTO_DetallePedido">
        INSERT INTO T_NEG_PEDIDO_DET
            (pedido_n_codigo, articulo_n_codigo, detped_n_cantidad)
        VALUES
            (#{pedido}, #{articulo}, #{cantidad})
    </insert>
    
    <update id="updateDetallePedido" parameterType="DTO_DetallePedido">
        UPDATE T_NEG_PEDIDO_DET
        SET
            pedido_n_codigo = #{pedido},
            articulo_n_codigo = #{articulo},
            detped_n_cantidad = #{cantidad}
        WHERE
            pedido_n_codigo = #{pedido}
    </update>

    <delete id="deleteDetallePedido">
        DELETE FROM
            T_NEG_PEDIDO_DET
        WHERE
            pedido_n_codigo = #{value}
    </delete>

</mapper>