<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.ModuloMapper">

  <cache />

    <!-- MANTENIMIENTO DE MODULOS -->

    <select id="getModulos" parameterType="DTO_Modulo" resultType="DTO_Modulo">
        SELECT
            modu.modulo_n_codigo as codigo,
            modu.modulo_v_desc as descripcion,
            modu.modulo_v_recurso as recurso,
            modu.empresa_n_codigo as empresa
        FROM
            T_SEG_MODULO modu
        WHERE
            modu.empresa_n_codigo = #{empresa}
    </select>
    
    <select id="getModuloXCodigo" parameterType="DTO_Modulo" resultType="DTO_Modulo">
        SELECT
            modu.modulo_n_codigo as codigo,
            modu.modulo_v_desc as descripcion,
            modu.modulo_v_recurso as recurso,
            modu.empresa_n_codigo as empresa
        FROM
            T_SEG_MODULO modu
        WHERE
            modu.empresa_n_codigo = #{empresa}
        AND
            modu.modulo_n_codigo = #{codigo}
    </select>

    <insert id="insertModulo" parameterType="DTO_Modulo">
        INSERT INTO T_SEG_MODULO
            (modulo_v_desc, modulo_v_recurso, empresa_n_codigo)
        VALUES
            (#{descripcion}, #{recurso}, #{empresa})
        <selectKey keyProperty="codigo" resultType="int" order="AFTER"> 
           select LAST_INSERT_ID() as value
        </selectKey>
    </insert>
    
    <update id="updateModulo" parameterType="DTO_Modulo">
        UPDATE T_SEG_MODULO
        SET
            modulo_v_desc = #{descripcion},
            modulo_v_recurso = #{recurso}
        WHERE
            modulo_n_codigo = #{codigo}
        AND
            empresa_n_codigo = #{empresa}
    </update>
    
    <delete id="deleteModulo" parameterType="DTO_Modulo">
      DELETE FROM
         T_SEG_MODULO
      WHERE
            modulo_n_codigo = #{codigo}
        AND
            empresa_n_codigo = #{empresa}
    </delete>

</mapper>