<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.PedidoMapper">

  <cache />

    <!-- MANTENIMIENTO DE PEDIDOS -->

    <select id="getPedidos" parameterType="DTO_Pedido" resultType="DTO_Pedido">
        SELECT
            ped.pedido_n_codigo as codigo,
            ped.empresa_n_codigo as empresa,
            ped.cliente_n_codigo as cliente,
            ped.tipoped_n_codigo as tipo,
            ped.pedido_d_fecha as fecha,
            ped.pedido_n_igv as igv,
            ped.pedido_n_total as total
        FROM
            T_NEG_PEDIDO ped
        WHERE
            ped.empresa_n_codigo = #{empresa}
        <if test="cliente != null">AND
            ped.cliente_n_codigo = #{cliente}
        </if>
    </select>
    
    <select id="getPedidosXCodigo" parameterType="DTO_Pedido" resultType="DTO_Pedido">
        SELECT
            ped.pedido_n_codigo as codigo,
            ped.empresa_n_codigo as empresa,
            ped.cliente_n_codigo as cliente,
            ped.tipoped_n_codigo as tipo,
            ped.pedido_d_fecha as fecha,
            ped.pedido_n_igv as igv,
            ped.pedido_n_total as total
        FROM
            T_NEG_PEDIDO ped
        WHERE
            ped.pedido_n_codigo = #{codigo}
    </select>
    
    <select id="getConnected" resultType="int">
        SELECT
            con.pedido_n_codigo_to as toLink
        FROM
            T_NEG_PEDIDO2PEDIDO con
        WHERE
            con.pedido_n_codigo_from = #{fromLink}
    </select>

    <insert id="insertPedido" parameterType="DTO_Pedido">
        INSERT INTO T_NEG_PEDIDO
            (empresa_n_codigo, cliente_n_codigo, tipoped_n_codigo,
            pedido_d_fecha, pedido_n_igv, pedido_n_total)
        VALUES
            (#{empresa}, #{cliente}, #{tipo},
            #{fecha}, #{igv}, #{total})
        <selectKey keyProperty="codigo" resultType="int" order="AFTER"> 
           select LAST_INSERT_ID() as value
        </selectKey>
    </insert>
    
    <insert id="connectPedido">
        INSERT INTO T_NEG_PEDIDO2PEDIDO
            (pedido_n_codigo_from, pedido_n_codigo_to)
        VALUES
            (#{fromLink}, #{toLink})
    </insert>
    
    <update id="updatePedido" parameterType="DTO_Pedido">
        UPDATE T_NEG_PEDIDO
        SET
            pedido_n_codigo = #{codigo},
            empresa_n_codigo = #{empresa},
            cliente_n_codigo = #{cliente},
            tipoped_n_codigo = #{tipo},
            pedido_d_fecha = #{fecha},
            pedido_n_igv = #{igv},
            pedido_n_total = #{total}
        WHERE
            pedido_n_codigo = #{codigo}
        AND
            empresa_n_codigo = #{empresa}
    </update>

    <delete id="deletePedido">
        DELETE FROM
            T_NEG_PEDIDO
        WHERE
            pedido_n_codigo = #{value}
   </delete>

</mapper>