<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.jx_market.persistence.SolicitudMapper">

  <cache />

    <!-- MANTENIMIENTO DE SOLICITUDES -->

    <select id="getSolicitudes" parameterType="DTO_Solicitud" resultType="DTO_Solicitud">
        SELECT
            sol.solicitud_n_codigo as codigo,
            sol.solicitud_v_razon as razon,
            sol.solicitud_n_ruc as ruc,
            sol.solicitud_v_email as correo,
            sol.solicitud_n_estado as estado,
            sol.solicitud_d_fecha as fecha
        FROM
            T_NEG_SOLICITUD sol
        WHERE
           sol.solicitud_n_estado = #{estado}          
    </select>
    
    <select id="getSolicitudxCodigo" parameterType="DTO_Solicitud" resultType="DTO_Solicitud">
        SELECT
            sol.solicitud_n_codigo as codigo,
            sol.solicitud_v_razon as razon,
            sol.solicitud_n_ruc as ruc,
            sol.solicitud_v_email as correo,
            sol.solicitud_n_estado as estado,
            sol.solicitud_d_fecha as fecha
        FROM
            T_NEG_SOLICITUD sol
        WHERE
           sol.solicitud_n_codigo = #{codigo}   
    </select>

    <insert id="insertSolicitud" parameterType="DTO_Solicitud">
        INSERT INTO T_NEG_SOLICITUD
            (solicitud_n_codigo, solicitud_v_razon, solicitud_n_ruc, solicitud_v_email, solicitud_n_estado, solicitud_d_fecha)
        VALUES
            (#{codigo}, #{razon}, #{ruc}, #{correo}, #{estado}, #{fecha})
    </insert>
    
    <update id="updateSolicitud" parameterType="DTO_Solicitud">
        UPDATE T_NEG_SOLICITUD
        SET
            solicitud_n_estado = #{estado}          
        WHERE
            solicitud_n_codigo = #{codigo}
    </update>

    <delete id="deleteSolicitud">
        DELETE FROM
            T_NEG_SOLICITUD
        WHERE
           solicitud_n_codigo = #{value}
   </delete>

</mapper>